/* .title{
    margin-bottom: 20px;
    font-size: 50px;
} */

.name{
 font-size: .9em;
}

.name span:first-child {
    background: linear-gradient(to top, #de4f28,#f9a225);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;

}

.name span:last-child {
    color: rgb(18, 170, 252);
}


.desc{
    font-size: .23em;
    margin-top: -10px;
    margin-left: 13px;
    font-weight: 600;
}