.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 2px 5px 2px;
    transition: all .50s ease;
}

.left{
    display: flex;
}

.left div{
    padding: 5px 0;
    margin:0px 25px;
    transition: all .50s ease;
}

.middle{
    display: flex;
    align-items: center;
    background: linear-gradient(to top, #de4f28,#f9a225);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.right {
    display: flex;
}
.right div{
    margin:0px 13px;
    transition: all .50s ease;
    align-self: center;
}

.backarrow{
    background-color: white;
    border-radius: 20px;
    margin-right: 8px;
    padding: 3px 6px 2px 3px;
    color: rgb(14, 162, 248);
}

.username{
    display: flex;
}

.right div:not(:last-child) , .r1 div{
    display: flex;
}

.faxlist{
  color: rgb(255, 153, 0);
}

.right div span{
 margin-left: 3px;
}

.user{
    margin-right: 4px;
}

.dropbox {
    background-color: white;
    border-radius: 15px;
    font-size: 8px;
    color: gray;
    padding: 5px 10px 4px 100px;
    margin-left: 5px;
}

.nav-title{
    font-size: 2.6em;
}

#menu-icon{
    font-size: 25px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

@media (max-width: 1250px) {
    .left div{
        margin:0px 5px;
        transition: .2s;
    }
    .right div{
        margin:0px 5px;
        transition: .2s;

    }
}

@media (max-width: 1090px) {
    #menu-icon{
        display: block;
    }
    .r1{
        position: absolute;
        top: 100%;
        right: 10%;
        width: 200px;
        height: 22vh;
        background: #076d78f8;
        display: flex;
        flex-direction: column;
        transition: all .50s ease;
        border-radius: 10px;
    }
    .r1 div{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
}

@media (max-width: 700px) {
    .left div:last-child{
        display: none;
    }
    .username{
        display: none;
    }
}