.navbar{
    display: flex;
    /* justify-content: space-between; */
    color: white;
    font-size: 12px;
    padding: 2px 4px 2px;
}

.left{
    display: flex;
    justify-content: space-between;
}

.backarrow{
    background-color: white;
    border-radius: 20px;
    margin-right: 8px;
    padding: 0px 3px 0px 1px;
    color: rgb(14, 162, 248);
}


.dropbox {
    background-color: white;
    border-radius: 15px;
    font-size: 8px;
    color: gray;
    padding: 5px 10px 4px 100px;
}
.username{
    display: flex;
}
.user{
    font-size: 18px;
}