* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background: #1c4b69;
  overflow: hidden;
  /* max-width: 100%;
  height: 120vh; */

}
.App {
  position: relative;
  width: 100vw;
  height: 800px;
  overflow: hidden;
}
.square1{
  position: absolute;
  width: 700px;
  height: 700px;
  top:30px;
  border-radius: 22%;
  background: #226689;
  transform: rotate(45deg);
  z-index: -1;
  overflow: hidden;
}

.square2{
  position: absolute;
  width: 700px;
  height: 700px;
  top: 170px;
  border-radius: 22%;
  background: #2a6a8d;
  transform: rotate(45deg); 
  z-index: -1;
  overflow: hidden;

}

.square3{
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 22%;
  top: 290px;
  background: #356d8b;
  transform: rotate(-45deg); 
  z-index: -1;
  overflow: hidden;

}