* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background: #1c4b69;
  overflow: hidden;
  max-width: 220vh;
  height: 120vh;

}
.square1{
  position: absolute;
  width: 55rem;
  height: 55rem;
  border-radius: 150px;
  background: #226689;
  transform: rotate(-50deg);
  transform-origin: 10% 90%;
  z-index: -1;
}

.square2{
  position: absolute;
  width: 55rem;
  height: 55rem;
  border-radius: 150px;
  background: #2a6a8d;
  transform: rotate(-50deg); 
  transform-origin: 30% 90%;
  z-index: -1;
}

.square3{
  position: absolute;
  width: 55rem;
  height: 55rem;
  border-radius: 150px;
  background: #356d8b;
  transform: rotate(-50deg); 
  transform-origin: 45% 100%;
  z-index: -1;

}